body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vw;
}
#lista {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
}